.main-block {
    display: flex;
    border: 1px solid;
    padding: 10px;
    border-radius: 7px;
}
.main-block__title {
    flex: 0 1 30%;

}
.main-block__text {
    flex: 0 1 70%;
}

@media (max-width: 767px) {
    .main-block {
        display: block;
    }
}